a {
  color: #000;
  text-decoration: none;
}
.black-nav {
  background : black;
  width : 100%;
  display : flex;
  color : white;
  padding : 20px;
}
div {
  box-sizing : border-box
}
.list {
  text-align : left;
  padding-left : 20px;
  border-bottom : 1px solid grey;
}
.modal{
  margin-top : 20px;
  padding : 20px;
  background : #eee;
  text-align : left;
}
.main-nav {
  background-color: #ccc;
  padding: 0 0 0 20px;
  height: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.main-bg {
  height : 300px;
  background-image : url('./img/bg.png');
  background-size : cover;
  background-position : center;
}